{% extends "principal.html" %}
{% load bootstrap5 %}




{%block contenido%}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-5" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% bootstrap_css %}
<form action="{% url 'evento_editar' evento.id %}" method="POST">

    {% csrf_token %}
<!--
    {% bootstrap_form formulario %}
-->
    <div class="mb-4">
        {% bootstrap_field formulario.nombre %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.ubicacion %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.hora %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fecha %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.descripcion %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.usuarios %}
    </div>


    <button type="submit">Enviar</button>

</form>

{%endblock%}