{%extends 'principal.html'%}
{%block contenido%}

<h1 class="row">Lista de Eventos</h1>
    {% for evento in eventos_mostrar%}
        <div class="col-sm mb-2">
            
            <p>nombre: {{evento.nombre}}</p>
            <p>ubicacion: {{evento.ubicacion}}</p>
            <p>hora: {{evento.hora}}</p>
            <p>fecha: {{evento.fecha}}</p>
            <p>descripcion: {{evento.descripcion}}</p>
    
            {%for moto in evento.usuario%}
            <p>Motos: {{moto.nombre}}</p>
            {%endfor%}
            <p>----------------------------------------------------------</p>

        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay motos</h1>
    
    {% endfor %}
{%endblock%}