{%extends 'principal.html'%}
{%block contenido%}

<h1 class="row">Lista de Motos</h1>
    {% for moto in motos_mostrar%}
        <div class="col-sm mb-2">
            
            <p>nombre: {{moto.nombre}}</p>
            <p>marca: {{moto.marca}}</p>
            <p>modelo: {{moto.modelo}}</p>
            <p>año: {{moto.año}}</p>
            <p>precio: {{moto.precio}}</p>
    
            {%for cliente in moto.usuario%}
            <p>cliente: {{cliente.nombre}}</p>
            {%endfor%}
            <p>----------------------------------------------------------</p>

        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay motos</h1>
    
    {% endfor %}
{%endblock%}