{%extends 'principal.html'%}
{% load bootstrap5 %}
{%block contenido%}

{% bootstrap_css %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 mt-5" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<h1 class="row">Lista de Motos</h1>
    {% for moto in motos_mostrar%}
        <div class="col-sm mb-2">
            
            <p>nombre: {{moto.nombre}}</p>
            <p>marca: {{moto.marca}}</p>
            <p>modelo: {{moto.modelo}}</p>
            <p>año: {{moto.año}}</p>
            <p>precio: {{moto.precio}}</p>
    
            {%for cliente in moto.usuario%}
            <p>cliente: {{cliente.nombre}}</p>
            {%endfor%}
            <a href="{% url 'motos_editar' moto.id %}">Editar</a>
            <a href="{% url 'motos_editar_nombre' moto.id %}">Editar Nomb</a>
            <a href="{% url 'moto_eliminar' moto.id %}">Eliminar</a>

            <p>----------------------------------------------------------</p>

        </div>
    {% empty %}
        <h1>Lo sentimos pero no hay motos</h1>
    
    {% endfor %}
{%endblock%}