<div >
    <ul class="menu">
        <li><a href="{% url 'index' %}" class="enlacemenu">Inicio</a></li>
        <li><a href="{% url 'motos_mostrar' %}" class="enlacemenu">Lista motos</a></li>
        <li><a href="{% url 'concesionarios_mostrar' %}" class="enlacemenu">Lista Concesionarios</a></li>
        <li><a href="{% url 'eventos_mostrar' %}" class="enlacemenu">Lista eventos</a></li>

        <li>
            <form action="{% url 'moto_buscar' %}" class="d-flex mt-3" role="search" method="GET">
                <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
            </form>
        </li>
        
            
    </ul>
</div>
    