<div >
    <ul class="menu">

        <li><a href="{% url 'index' %}" class="enlacemenu">Inicio</a></li>

        <li><a href="{% url 'motos_mostrar' %}" class="enlacemenu">Lista motos</a></li>

        <li><a href="{% url 'concesionarios_mostrar' %}" class="enlacemenu">Lista Concesionarios</a></li>

        <li><a href="{% url 'eventos_mostrar' %}" class="enlacemenu">Lista eventos</a></li>

        <li><a href="{% url 'moto_buscar_avanzado' %}" class="enlacemenu">Buscar Avanzado moto</a></li>

        <li><a href="{% url 'concesionario_buscar_avanzado' %}" class="enlacemenu">Buscar Avanzado Concesionario</a></li>

        <li><a href="{% url 'evento_buscar_avanzado' %}" class="enlacemenu">Buscar Avanzado Evento</a></li>

        <li><a href="{% url 'motos_crear' %}" class="enlacemenu">Moto crear</a></li>    

        <li><a href="{% url 'concesionarios_crear' %}" class="enlacemenu">Concesionario crear</a></li>   
         
        <li><a href="{% url 'eventos_crear' %}" class="enlacemenu">Evento crear</a></li>  
        
      


        


        <li>
            <form action="{% url 'moto_buscar' %}" class="d-flex mt-3" role="search" method="GET">
                <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
            </form>
        </li>

        <div class="ml-2">
            {% if not request.session.token%}
            <a class="btn btn-outline-warning" href="{% url 'login' %}">
                Login
            </a>
            {% endif %}
    
            {% if not request.session.token %}
              <a class="btn btn-outline-warning" href="{% url 'registrar_usuario' %}">
                  Registrarse
              </a>
             {% endif %}
    
             {% if request.session.token %}
             <a class="btn btn-outline-warning" href="{% url 'logout' %}">
                 Desconectarse
             </a>
            {% endif %}
          </div>
        
            
    </ul>
</div>


    